* {
    box-sizing: border-box;
}

body {
    background-color: #daf1de;
    margin: 0;
}

#root {
    padding: 100;
    margin: 100;
    justify-content: center;
}

#pageinfo {
    background-color: #051f20;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#pagelogo {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#pagename {
    color: #daf1de;
    display: inline-block;
    padding-left: 1rem;
    margin: 0;
    font-size: 50px;
    width: 30vw;
    margin-right: calc(67vw - 310px);
}

#pagequote {
    color: #daf1de;
    display: inline-block;
    padding-right: 1rem;
    margin: 0;
    width: 240px;
}

#navbar {
    background-color: #163832;
    color: #8eb69b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

#navbar a {
    text-decoration: none;
    color: #8eb69b;
    width: 20%;
    text-align: center;
    font-size: 15px;
}

#navbar a:hover {
    background-color: #8eb69b;
    color: #163832;
    height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home, .story, .blog, .project, .about {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.home #main {
    padding-top: 30vh;
    padding-bottom: 30vh;
    align-items: center;
}

.home #main h1 {
    text-align: center;
    margin: 0;
    font-size: 90px;
}

.home #main h3 {
    text-align: center;
    font-size: 20px;
}

.home #story {
    background: url("https://nws.ams3.cdn.digitaloceanspaces.com/content/668BC1E948ADB83BC3443FBBAF59257C/3836-2048.webp");
    display: flex;
    border-radius: 10px 10px 10px 10px;
}

.home #story1 {
    border-radius: 10px 0 0 10px;
    background-color: rgba(142, 182, 155, 0.9);
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #story2 {
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #blog {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQrMlGjA4wH8spUylpqyd4Gesc5L3ek-tSZWyyiQFiA2IoR8pauXA9pqwop0cN8pUnrfM&usqp=CAU");
    background-size: cover;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
}

.home #blog1 {
    border-radius: 10px 0 0 10px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #blog2 {
    border-radius: 0 10px 10px 0;
    background-color: rgba(142, 182, 155, 0.9);
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 37px);
    height: 500px;
    align-items: center;
}

.home #project {
    background: url("https://nws.ams3.cdn.digitaloceanspaces.com/content/668BC1E948ADB83BC3443FBBAF59257C/3836-2048.webp");
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
}

.home #project1 {
    border-radius: 10px 0 0 10px;
    background-color: rgba(142, 182, 155, 0.9);
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #project2 {
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #about {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQrMlGjA4wH8spUylpqyd4Gesc5L3ek-tSZWyyiQFiA2IoR8pauXA9pqwop0cN8pUnrfM&usqp=CAU");
    background-size: cover;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 100px;
}

.home #about1 {
    border-radius: 10px 0 0 10px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 38px);
    height: 500px;
}

.home #about2 {
    border-radius: 0 10px 10px 0;
    background-color: rgba(142, 182, 155, 0.9);
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(50vw - 37px);
    height: 500px;
    align-items: center;
}